* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('./app/images/bg3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.btn:hover {
  transform: scale(0.98);
}

ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 99vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
}

.header > ul {
  display: flex;
  gap: .5rem;
  width: 5rem;
}

.header > img {
  height: 2rem;
}

.header-link:hover, .header-btn:hover {
  text-decoration: underline;
}

.header-btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  width: 5rem;
}

.meals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 99vw;
  margin: .5rem 0;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
  overflow-x: scroll;
}

.meals > span {
  font-size: 1.5rem;
}

.meals-chosen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.meal-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2.5rem;
  min-width: fit-content;
  border-top: .25px solid black;
  border-bottom: .25px solid black;
  margin: 0 .5rem;
  padding: .25rem 1rem;
  background-color: white;
}

.meal-block > span {
  max-height: 2rem;
  min-width: fit-content;
  cursor: pointer;
}

.close, .add, .delete {
  font-size: .5rem;
  cursor: pointer;
  border: none;
  background: none;
  margin: 0 .5rem 0 0;
}

.form {
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 4px 5px rgb(0, 0, 0);
}

.form > form > img {
  margin-bottom: 2rem;
}

input, input:focus
{
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: none;
    -webkit-appearance: none;
    -moz-apperarance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    resize: none;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 5px;
}

.form-group {
  padding: .5rem;
}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.form-submit > span:hover {
  text-decoration: underline;
}

.recipe-block {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  height: calc(100% - (10rem));
}

.recipe-list, .recipe {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
  border-radius: 5px;
}

.recipe {
  width: calc(70% - 5px);
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: .5rem;
  margin: .5rem;
}

.recipe-name {
  font-size: 1.75rem;
  text-align: center;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-header > button {
  border-radius: 5px;
  margin: 0;
  padding: 0.25rem;
}

.recipe-blurb {
  display: flex;
  justify-content: space-evenly;
  height: calc(100% - 5rem);
}

.recipe-image {
  height: 100%;
  width: 20rem;
  margin: .5rem;
}

.recipe-image > img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  object-fit: cover;
}

.recipe-information {
  border-radius: 5px;
}

.recipe-information, .recipe-instructions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  gap: 1rem;
  text-align: left;
  max-width: 50%;
  min-width: 50%;
  max-height: 100%;
  min-height: 100%;
  margin: .5rem;
  padding: .5rem;
  background-color: white;
  border: 1px solid black;
}

.recipe-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-decoration: underline;
}

.recipe-toggle > span {
  cursor: pointer;
}

.recipe-instructions {
  max-width: 100%;
  min-height: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
}

.recipe-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.recipe-box {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  width: 95%;
  height: calc(100% - (1.5rem));
  margin: 5px;
  overflow-x: scroll;
}

.blank-message {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem;
}

.recipe-cuisines, .recipe-cuisines:focus {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin: .5rem 5px 0 5px;
  font-weight: 600;
  outline: none;
  width: 95%;
}

.recipe-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  padding: 2px;
  text-indent: 5px;
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
  height: 1.5rem;
  cursor: pointer;
}

.recipe-item:hover {
  height: 2rem;
  font-weight: 700;
  border: 1px solid black;
}

.recipe-item:last-child {
  border-radius: 0 0 5px 5px;
}

.recipe-item:first-child {
  border-radius: 5px 5px 0 0;
}

.recipe-search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.recipe-search, .recipe-search:focus {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  outline: none;
  height: 2rem;
  width: 100%;
  margin: 5px 0;
}

.recipe-search-button {
  position: absolute;
  right: 1.25rem;
  cursor: pointer;
}

.page-block {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 10rem);
  border-radius: 5px;
  margin: 0 .5rem .5rem .5rem;
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
}

.page-img-ingredients {
  width: 30%;
  height: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: .5rem;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.page-ingredients {
  height: 50%;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: .5rem;
}

.page-img {
  height: 50%;
  width: 100%;
}

.page-img > img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  object-fit: cover;
}

.page-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: calc(100% - 1rem);
  margin: .5rem;
  padding: .5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.page-instructions > h3, .page-ingredients > h3, .individual-ingredients > h3 {
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grocery-item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  background-image: linear-gradient(45deg, #41E296, #00C4EE);
}

.individual-ingredients {
  height: calc(100% - 1rem);
  width: 30%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin: .5rem;
  padding: .5rem;
}

.add-groceries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.add, .delete {
  font-size: .75rem;
}


